
<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home/css/about.css' %}">
 
    
    <title>About Us</title>
</head>

<body>
   

<div class="jk">
    <div class="container">
        
        <div class="boxi">
            <div class="contenti">
                <img src="{% static 'home/pics/boy.jfif'%}">
                <h2>Malik Abdullah Naazar<br><span>Backend Developer</span></h2>
                <a href="#">Hire me</a>
            </div>
        </div>
    </div>
   
   <div style="color: red;"> About Us <br></div>
    <div> Developer & Designer </div>
    
       <br><div> The developer and designer of this website are<span> Malik Abdullah Naazar </span> & <span>   Zarqa Shehwar</span>.</div>
    
    <div class="container" style=" margin-left: 10%;">
        <div class="boxi">
            <div class="contenti">
                <img src="{% static 'home/pics/girl.jpg'%}">
                <h2>Zarqa Shehwar<br><span>Front-end Developer</span></h2>
                <a href="#">Hire me</a>
            </div>
        </div>
    </div>
</div>
</body>

</html>